/* Modus Versus Slicing
 *
 * /sass/objects/_clients.scss - Non-cosmetic styles for clients
 *
 * coded by Mucht!
 * started at 29/02/2016
 */

.clients{
    width: 117rem;
    margin: 7rem auto;
    &__liste { // ul
        width: $containerWidth;
    }
}
