/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */
.slider{
    &__slides{
        &__slide{
            display: none;
        }
        &__slide--active{
            display: block;
            width: 100%;
            min-height: 50rem;
            background: transparent url( "#{ $imgPath }cover.jpg" ) center center no-repeat;
            background-size: cover;
            text-align: center;
            strong{
                position: relative;
                top: 15rem;
                padding: 0 0.5rem;
                font-size: 5em;
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 0.5rem;
                color: #FFF;
                background-color: $darkFocusColor;
            }
            span{
                display: block;
                position: relative;
                top: 17.5rem;
                margin: auto;
                width: 47rem;
                font-size: 1.6rem;
                padding: 1.5rem 3.5rem;
                border-radius: 0.5rem;
                color: #FFF;
                background: rgba( 0, 0, 0, 0.5 );
            }
        }
    }
    &__nav{
        text-align: center;
        a{
            text-decoration: none;
        }
        .slide-previous::before{
            content: "";
            text-align: center;
            padding-top: .8rem;
            font: normal 4rem $glyphs;
            color: #FFF;
            display: block;
            width: 5rem;
            height: 6rem;
            border-radius: 0 0.5rem 0.5rem 0;
            background-color: $focusColor;
        }
        .slide-previous{
            position: absolute;
            top: 30rem;
            left: 0rem;
            color: transparent;
        }
        .slide-next::before{
            content: "";
            text-align: center;
            padding-top: .8rem;
            font: normal 4rem $glyphs;
            color: #FFF;
            display: block;
            width: 5rem;
            height: 6rem;
            border-radius: 0.5rem 0 0 0.5rem;
            background-color: $focusColor;
        }
        .slide-next{
            position: absolute;
            top: 30rem;
            right: 0;
            color: transparent;
        }
        &__dots{
            margin-top: 1rem;
            &__dot{
                display: inline-block;
                width: 6rem;
                min-height: 0.5rem;
                margin-left: 1rem;
                background: $headingTextColor;
                font-size: 0rem;
                &--active{
                    background: $focusColor;
                }
            }
        }
    }
}
